<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Minesweeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/minesweeper/minesweeper.css" />
    <link rel="stylesheet" href="/CSS/footer.css" />
    
</head>
	<body>
		<div class="container1">
			<div class ="row">
				<section class="title">
					<h1 class="text-center"> MineSweeper </h1>
				</section>
			</div>
			<div class = "row">
				<section class="subtitle">
					<p class="text-center text-muted" th:if="${not @mainController.logged}">To fully enjoy our Game Studio, please register</p>
					<br />
				</section>
			</div>
		</div>
		<div class="container">	
			<div class="section buttons">
				<div align="right">
				<a class="btn btn-success " href="/minesweeper" role="button">Play again</a>
				<a class="btn btn-primary" href="/" role="button">Back to Game Studio</a>
				</div>
			</div>
			<br />
		</div>
		
		<div class="container">
			<div class="text-right">
				<span th:if="${not @mainController.logged}" class="border border-danger rounded">
					You are not logged in. Please <a href="/">log in.</a><br/>
				</span>
				<span th:if="${@mainController.logged}">
					Welcome <span th:text="${@mainController.loggedPlayer.name}"/> !<br/>
				</span>
				<br />
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="text-center" th:if="${@minesweeperController.solved}">
					<h2>You WIN this game!</h2>
					</div>
				</div>
			</div>
		</div>
		
		<div class="text-center">
			<a class="btn btn-info" href="/minesweeper/change" role="button" >Change mark/open</a><a th:if="${@minesweeperController.marking}" class="border border-info rounded">MARKING MODE</a><a th:if="${not @minesweeperController.marking}" class="border border-info rounded">OPENING MODE</a>
		</div>
		
		<div class="container"><br /><br />
			<div class="row">
				<div class="content border border-info rounded shadow p-3 mb-5 bg-white rounded">
						<div th:utext="${@minesweeperController.htmlField}" >
						</div>
				</div>
			</div><br /><br />
		</div>
		
		<div class="container">
			<div class="row">
				<div class="content">
					<span th:if="${not @minesweeperController.rating}" class="border border-info rounded text-center">
						No rating has been added. For adding your rating you must be registered. To register click <a href="/">here</a>.  
					</span>
				</div>
			</div><br />
		</div>
		<div class="container">
			<div class="row">
				<section class="rating">
					<div th:if="${@minesweeperController.rating}" class="border border-info rounded text-center">
						Game rating: <span th:text="${@minesweeperController.avgRating}"></span>
					</div>
					<span th:if="${@mainController.logged}" >
						<span th:if="${@mainController.logged}" >Leave us your rating : 
						<a class="fa fa-star checked" href = "/minesweeper/rating?value=1"></a>
						<a class="fa fa-star checked" href = "/minesweeper/rating?value=2"></a>
						<a class="fa fa-star checked" href = "/minesweeper/rating?value=3"></a>
						<a class="fa fa-star checked" href = "/minesweeper/rating?value=4"></a>
						<a class="fa fa-star checked" href = "/minesweeper/rating?value=5"></a>
					</span>
					</span>
				</section>
			</div><br/>	
		</div>
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div th:if="${@minesweeperController.comment}" class="border border-info rounded">
					<section class="comments">
						<p>Comments :</p>
					</section>
					
					<ol>
						<li th:each="comment : ${@minesweeperController.comments}">
							<span th:text="${comment.username}"></span>
							<span> : </span>
							<span th:text="${comment.content}"></span>
						</li>
					</ol>
				</div>
			</div>
		</div>		
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="content text-center">
					<span th:if="${not @minesweeperController.comment}" class="border border-info rounded text-center">
						No comment has been added.For adding your comment you must be registered. To register click <a href="/">here </a>. <br />  
					</span>
				</div>
			</div><br />
		</div>
		<div class="container">
			<div  th:if="${ @mainController.logged}" class="col-lg-12 col-md-12 col-sm-12">	
				<form action="/minesweeper/addComments">
					<div class="form-group">
						<input type="text" class="form-control border border-info rounded" name = "content" placeholder="here type your comment..">
						<button type="submit" class="btn btn-info">Add comment</button>
					</div>
				</form>
			</div>
		</div>
		
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div th:if="${@minesweeperController.score}" class="border border-info rounded">
					<section class="scores">
						<p>Best Scores :</p>
					</section>
					<ol>
						<li th:each="score : ${@minesweeperController.scores}">
							<span th:text="${score.username}"></span>
							<span> : </span>
							<span th:text="${score.value}"></span>
						</li>
					</ol>
				</div>
			</div><br />
		</div>	
		
	
		
		
		<div th:replace="footer::footer">...</div>
	</body>
</html>