.container1{
	background-color: #c0c0c0;
}
.title {
	color: black;
    font-size: 3.5em;
    margin:0 auto;
    font-family: 'Merriweather', serif;
}
.subtitle{
	margin:0 auto;
	color: gray;
	font-size: 1em;
	text-align: right;
}
h2{
	color: black;
    font-size: 2em;
    background-color: #e20074;
    font-family: 'Merriweather', serif;
    border-radius: 15px 60px;
}
.content {
	margin:0 auto;
}
.rating{
	margin:0 auto;
}
.comments{
	color: white;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    border-radius: 3px 3px;
    background-color: #1495ab; 
}
.scores{
	color: white;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    border-radius: 3px 3px;
    background-color: #1495ab;
}
.checked {
  color: orange;
}
